<h2>Create a New Post!</h2>
<form class="create-post">
    <label for="post-title">Post title:</label>
    <input type="text" id="post-title">
    <label for="post-body">Body:</label>
    <input type="text" id="post-body">
    <button type="submit">Create Post</button>
</form>
<script src="../js/post-create.js"></script>